<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Need A Change?</h1>
    <form action="/critiques/<%= critique.id %>?_method=PUT" method="POST">
      <labe for="title">Title</label><br />
      <input type="text" id="title" name="title" value="<%= critique.title %>" /><br /> 
      <label for="image">Cover</label><br />
      <input type="text" id="image" name="img" value="<%= critique.img %>" /><br />
      <label for="rating">Rating</label><br />
      <input type="number" id="rating" name="rating" value="<%= critique.rating %>" min="0" max="5" /><br /> 
      <label for="entry">Review</label><br />
      <input type="text" id="entry" name="entry" value="<%= critique.entry %>" /><br />
      <input type="submit" name="" value="Submit Changes" />   
    </form>
  </body>
</html>   
