<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
     <!-- siting bootstrap docs -->
      <!-- https://getbootstrap.com/docs/4.5/components/navbar/ -->
    <div class="container-fullwidth">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/critiques" href="#">Home</a>
        <!-- add button -->
          <a class="navbar-item" href="/critiques/new" href="#"><button class="btn btn-outline-success">Add Critique</button>
          </a>
           <!-- username -->
           <div class="navbar-nav ml-auto">
            <div class="navbar-text mr-4">
              Welcome <% if (currentUser) { %>    
               <%= currentUser.username %>
            </div>
              <form class="form-inline" action="/sessions?_method=DELETE" method="POST">
                <a class="navbar-item" href="/sessions/new" href="#"><button class="btn btn-outline-secondary">Log Out</button>
                </a>
              </form>
           <% } %>  
           </div>
      </nav>
      <div class="header">
        <h1>Telly Critic</h1>
      </div>
     
      <ul class="reviews">
        <% for( let index = 0; index < critique.length; index++ ) { %>
        <li class="review">
          <% const current = critique[index] %>
          <a href="/critiques/<%=current.id %>">
           <!-- title -->
            <h4>

              <%=current.title %>
            </h4>
            <!-- img -->

              <img src="<%= current.img || 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXmZysrlgoL6i5h2a0zlvHWMQlU1-gt_uU6g&usqp=' %>" class="shadow p-3 bg-white rounded" /> 
          </a>
          <!-- rating -->
          <div class="rating">
            Rating: <%=current.rating %> 
          </div>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- jquery then popper.js then bootstrap -->
      <%- include ('../partials/script.ejs') %>
  </body>
</html>
