<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Telly Critic</h1>

    <a href="/critiques/new"><button>Add Critique</button></a>

    <div class="container">
      <ul>
        <% for( let index = 0; index < critique.length; index++ ) { %>

        <li>
          <% const current = critique[index] %>

          <a href="/critiques/<%=current.id %>">
            <!-- title and image -->
            <%=current.title; %> <img src="<%= current.img %>" /> </a><br />
          <!-- rating -->
          Rating: <%=current.rating %> 
        </li>

        <% } %>
      </ul>
    </div>
  </body>
</html>
