<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title></title>
</head>
<body>
  <!-- siting bootstrap docs -->
  <!-- https://getbootstrap.com/docs/4.5/components/navbar/ -->
  <div class="container-fullwidth">
    <%- include ('../partials/nav.ejs') %>
    <!-- define title -->
    <div class="review">
    <div class="edit-title">
      <% const title = critique.title %>    
      <h2><%= title.toUpperCase()[0] + title.slice(1) %></h2>
    </div>
    <!-- rating -->
    <p>Rating: <%= critique.rating %></p> 
    <!-- image will be-->
    <div class="show-image">
      <img src="<%= critique.img || 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXmZysrlgoL6i5h2a0zlvHWMQlU1-gt_uU6g&usqp=' %>" class="shadow p-3 mb-5 bg-white rounded"%>" class="shadow p-3 mb-5 bg-white rounded"/><br />
    </div>
    <p class="entry-text"><%= critique.entry %></p>
    <div class="edit-show">
      <!-- edit -->
      <a href="/critiques/<%= critique.id %>/edit"><button type="submit" class="btn btn-light">Edit</button></a>
      <div class="delete-show">
        <!-- delete -->
        <form action="/critiques/<%= critique.id %>?_method=DELETE" method="POST">
          <button type="submit" value="DELETE" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
</div>
</div>
<%- include ('../partials/script.ejs') %>
</body>
</html>
