<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <!-- back to main -->
    <nav>
    <a href="/critiques"><button>Home</button></a>
  </nav>
   
    <div class="container">
      <!-- define title -->
      <% const title = critique.title %>   
      <h2><%= title.toUpperCase()[0] + title.slice(1) %></h2>
      <!-- image will be-->
      <div class="show-image">
        <img src="<%= critique.img %>" /><br />
         <%= critique.entry %>    <!-- edit -->
         <a href="/critiques/<%= critique.id %>/edit"><button>Edit</button></a><br />
              <!-- delete -->
      <form action="/critiques/<%= critique.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
     </form>
      
        <!-- review entry -->
        <!-- i don't want the user to be able to enter anything on this page, thats what the edit page is for, this is for a close up -->

    
      </div>
      <br />
    </div>
  </body>
</html>
